<VirtualHost *:80>
  ServerName <%= @params[:server_name] %>
  DocumentRoot <%= @params[:docroot] %>

  LogLevel debug
  ErrorLog <%= node[:apache][:log_dir] %>/<%= @params[:name] %>-error.log
  CustomLog <%= node[:apache][:log_dir] %>/<%= @params[:name] %>-access.log combined

  RewriteEngine On
  RewriteLog <%= node[:apache][:log_dir] %>/<%= @application_name %>-rewrite.log
  RewriteLogLevel 0

  php_value date.timezone <%= @params[:php_timezone] %>
  php_value max_execution_time 240
  php_value upload_max_filesize 100M
  php_value post_max_size 100M
  php_value memory_limit 1024M
</VirtualHost>
